<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MORBUS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/mainPageStyle.css">
</head>
<body>
<header>
    <div class="HTCon">
        <div class="loginButton" th:if="${member}==null">
            <a href="/login">로그인</a>
            <div>|</div>
            <a href="/signUp">회원가입</a>
        </div>
        <div class="loginButton" th:if="${member}!=null">
            <span th:text="${member}"></span><span>님 안녕하세요!</span>
        </div>

    </div>
    <div class="HCon"></div>
    <div id="Hmain"><a href="morbus.html"><img src="사진\MORBUS.png"></a></div>
    <div class="HCon"></div>
</header>
<div class="side-bar">
    <div class="icon">
        <div>▼</div>
        <div>▶</div>
    </div>
    <nav class="menu">
        <ul>
            <li><a href="/Symptom">질병 자가 진단</a></li>
            <li><a href="/Symptom_record">질병 기록지</a></li>
            <li><a href="/MedicineInfo">약 정보 찾기</a></li>
        </ul>
    </nav>
</div>
<section>
    <div class="SCon"></div>
    <div class="SMCon"><a href="/Symptom">질병 자가 진단</a></div>
    <div class="Sline"></div>
    <div class="SMCon"><a href="/Symptom_record">증상 기록지</a></div>
    <div class="SCon"></div>
    <div class="HFCon"></div>
</section>
<connec></connec>
<footer>
    <div class="FCon"><pre>정선웅<br><a href="https://github.com/jeongseonwoong">GitHub 프로필</a><br>조진우<br><a href="https://github.com/JJW1223">GitHub 프로필</a><br>양희창<br>@YangHeeChang<br><a href="/morbus.html">MORBUS</a></pre></div>
</footer>
</body>
</html>

