<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MORBUS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/mainPageStyle.css">
    <script src="js/Logout.js" type="text/javascript"></script>
</head>
<body>
<header>
    <div class="background" onclick="toggleSidebar()"></div>
    <div class="HCon" style="border-bottom: rgba(0,0,0,.3) solid 1.5px;"></div>
    <div class="HTCon" style="border-bottom: rgba(0,0,0,.3) solid 1.5px;">
        <a href="morbus.html"><img src="사진\MORBUS.png"></a>
    </div>
    <div class="navbar" style="border-bottom: rgba(0,0,0,.3) solid 1.5px;">
        <div>
            <a href="/Symptom">질병 자가 진단</a>
            <a href="/Symptom_record">증상 기록지</a>
            <a href="/MedicineInfo">약 정보 찾기</a>
        </div>
    </div>
    <div class="HCon" style="border-bottom: rgba(0,0,0,.3) solid 1.5px;">
        <div class="icon">
            <img onclick="toggleSidebar()" src="사진/icon_menu.png" width="50" height="50">
        </div>
    </div>
</header>
<div class="side-bar">
    <nav class="menu">
        <img style="display: inline-block" onclick="toggleSidebar()" src="사진/icon-cross.png" width="50" height="50">
        <ul>
            <li><a href="/Symptom">질병 자가 진단</a></li>
            <li><a href="/Symptom_record">질병 기록지</a></li>
            <li><a href="/MedicineInfo">약 정보 찾기</a></li>
        </ul>
    </nav>
    <div th:if="${member}==null" style="margin-top:50vh">
        <div class="sign-up">
            <a href="login">로그인<span class="ion-arrow-right-c"></span></a>
        </div>
        <div class="sign-up">
            <a href="signUp">회원가입<span class="ion-arrow-right-c"></span></a>
        </div>
    </div>
    <div th:if="${member}!=null" style="margin-top:50vh"><span th:text="${member}" style="margin-left:30%;"></span><span style="font-weight: bolder;">님 안녕하세요!</span>
        <div class="sign-up" name="logout">
            <a>로그아웃<span class="ion-arrow-right-c"></span></a>
        </div>
    </div>
</div>
<section>
    <div class="SLCon">
        <p>"당신의 건강을 위하여"<br>MORBUS가 함께 하겠습니다<br><button>
            <div th:if="${member}==null">
                <a href="login" >로그인</a>
                <a href="signUp">/회원가입</a>
            </div>
            <div th:if="${member}!=null">
                <span th:text="${member}"></span><span>님 안녕하세요!</span> <button style="cursor: pointer" name="logout">로그아웃</button>
            </div>
        </button></p>
    </div>
    <div class="SRCon"><img src="사진\합1.png" style="width: auto;">
    </div>
</section>
<footer>
    <div class="FCon"><pre>정선웅<br><a href="https://github.com/jeongseonwoong">GitHub 프로필</a><br>조진우<br><a href="https://github.com/JJW1223">GitHub 프로필</a><br>양희창<br><a href="https://github.com/YangHeeChang">GitHub 프로필</a><br><a href="/morbus.html">MORBUS</a></pre></div>
</footer>
<script>
    function toggleSidebar() {
        var sidebar = document.querySelector('.side-bar');
        var back_ground = document.querySelector('.background');
        sidebar.classList.toggle('active');
        back_ground.classList.toggle('active');
        if (sidebar.style.right === '0px') {
            sidebar.style.right = '-340px';
            back_ground.style.visibility = 'hidden';
            back_ground.style.opacity = '0';
        } else {
            sidebar.style.right = '0px';
            back_ground.style.visibility = 'visible';
            back_ground.style.opacity = '1';
        }
    }
</script>
</body>
</html>

