<!-- 홈페이지 참고 https://www.genexa.com/#maincontent-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MORBUS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/mainPageStyle.css">
</head>
<body>
<header>
    <div class="HCon"></div>
    <div class="HTCon">
        <a href="morbus.html"><img src="사진\MORBUS.png"></a>
    </div>
    <div class="navbar">
        <div>
            <a href="#home">질병 자가 진단</a>
            <a href="#news">증상 기록지</a>
            <a href="#contact">약 정보 찾기</a>
        </div>
    </div>
    <div class="HCon"></div>
    <!--<div class="logCon">
        <div class="loginButton" th:if="${member}==null">
            <a href="/login">로그인</a>
            <div>|</div>
            <a href="/signUp">회원가입</a>
        </div>
        <div class="loginButton" th:if="${member}!=null">
            <span th:text="${member}"></span><span>님 안녕하세요!</span>
        </div>
    </div>-->
</header>
<div class="side-bar">
    <div class="icon">
        <div>▼</div>
        <div>◀</div>
    </div>
    <nav class="menu">
        <ul>
            <li><a href="/Symptom">질병 자가 진단</a></li>
            <li><a href="/Symptom_record">질병 기록지</a></li>
            <li><a href="/MedicineInfo">약 정보 찾기</a></li>
        </ul>
    </nav>
</div>
<section>
    <div class="SLCon"><p>"알아서 낫겠지"<br>당신의 유언이 될 수 있습니다.<br><button>이승으로 로그인</button></p></div>
    <div class="SRCon">
        <div class="PCon"><img src="사진\메인사진4.jpg" width="400" height="400"></div>
        <div class="PCon"><img src="사진\메인사진6.jpg" width="400" height="810"></div>
        <div class="PCon"><img src="사진\메인사진5.jpg" width="400" height="500"></div>
    </div>
</section>
</body>
</html>

