
<!--https://www.data.go.kr/data/15075057/openapi.do-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
<h2>HTML 폼</h2>

<form action="">
    이름: <input type="text" id="efcyQesitm" value="">
    <input type="button" onclick="myFunction()" value="제출">
</form>

<p id="demo"></p>
<script>
    //https://apis.data.go.kr/1471000/DrbEasyDrugInfoService/getDrbEasyDrugList?serviceKey=It4VW1I%2FeYFyY90hWAukf0jEmkiYrWvpH3cgrsOPV2MhVoEgo94AV0FdBnockVJXuuIoDNiCz6RjOECoMjE8sQ%3D%3D&pageNo=1&numOfRows=3&efcyQesitm=%EB%B6%88%EB%A9%B4%EC%A6%9D&type=xml
    function myFunction(){
        var url = 'https://apis.data.go.kr/1471000/DrbEasyDrugInfoService/getDrbEasyDrugList?serviceKey=';
        var encode = 'It4VW1I%2FeYFyY90hWAukf0jEmkiYrWvpH3cgrsOPV2MhVoEgo94AV0FdBnockVJXuuIoDNiCz6RjOECoMjE8sQ%3D%3D';
        var efcyQesitm = document.getElementById("efcyQesitm").value;
        var pageNo = "1", numOfRows = "3", type = 'xml';
        url = url + encode + "&pageNo=" + pageNo + "&numOfRows=" + numOfRows + "&efcyQesitm=" + efcyQesitm + "&type=" + type;

        // parsing
        fetch(url).then(response => {
            return response.text();
        }).then(xmlString => {
            const xmlDocument = new DOMParser().parseFromString(xmlString, "text/xml");
            const items = xmlDocument.querySelectorAll("item");

            for (const item of items) {
                const entp_name = item.querySelector("entpName").textContent;
                const name = item.querySelector("itemName").textContent;
                const efcy = item.querySelector("efcyQesitm").textContent;

                document.getElementById("demo").innerHTML += '기업 이름: ' + entp_name + '<br>이름: ' + name + '<br>효능: ' + efcy + '<br><br>';
            }
        });
    }

</script>
</body>
</html>