<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>RelatedDisease</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/relateDiseasePageStyle.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/buttonStyle.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <script src="/js/moreDiseaseList.js" type="text/javascript"></script>

</head>
<body style="background-color: #ffffff">
<header>
    <section id="sub">
        <ul>
            <li th:if="${member}!=null" th:text="${member}+'님 안녕하세요'"></li>
            <li th:if="${member}==null"><a href="signUp">회원가입</a></li>
            <li th:if="${member}==null"><a href="login">로그인</a></li>
        </ul>
    </section>
    <div style="border-bottom: #f0f0f0 solid 1px">
        <a href="morbus.html"><img src="/사진/morbus2.png" alt=""></a>
        <span class="lists">
            <a href="MedicineInfo">약 정보 찾기</a>
            <a href="Symptom_record">증상 기록지</a>
            <a href="Symptom">질병 자가진단</a>
        </span>
    </div>
</header>
<img src="/사진/광고배너%202.png" style="float: left; height: 55vh; width: 13vw; position: fixed; transform: translateX(-70px); z-index: -5;">
<img src="/사진/컴달인%20광고.png" style="float: right; height: 55vh; width: 13vw; position: fixed; transform: translateX(76vw); z-index: -5;">
<form action ="diseaseInfo" name="diseaseInfo" method="post">

    <!--가능성 높은 질병들 먼저 출력-->
    <div id="duplicateDisease" class="content">
        <h3 style="color: red">&nbsp&nbsp 유력한 원인</h3>
        <ul th:each="DuplicatedDisease  : ${DuplicateDisease}">
            <button type="submit" name="diseaseName" th:value="${DuplicatedDisease.getKey().getName()}">
                <li style="font-weight: bold" th:text="${DuplicatedDisease.getKey().getName()}">중복되는 질병 없음</li>
            </button>
            <p th:text="${DuplicatedDisease.getKey().getBriefInfo()}"></p><hr>
        </ul>
    </div>


    <div id="square" class="content">
        <div th:each ="ReDiseases : ${ReDisease}">
            <!--증상출력-->
            <h3 style="font-weight: bolder" th:text="${ReDiseases.first()}"></h3>
            <!--증상과 관련된 질병들 출력-->
            <ul th:each="ReDiseasesList : ${ReDiseases.second()}">
                <button type="submit" name="diseaseName" th:value="${ReDiseasesList.getName()}">
                    <li style="font-weight: bold" th:text ="${ReDiseasesList.getName()}"></li>
                </button>
                <p th:text ="${ReDiseasesList.getBriefInfo()}"></p><hr>
            </ul>
            <!--증상과 관련된 질병들 출력-->
        </div>
    </div>
</form>

</body>
</html>