<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>증상 선택 페이지</title>
    <meta name ="질병 찾기" content ="증상 선택"/>
    <meta property = "og:type" content = "article">
    <link rel="stylesheet" type="text/css" th:href="@{/css/symptomPageStyle.css}"/>
    <script src='/js/searchSymptomName.js'></script>
</head>
<body style ="background-color: #e4e4e4">

<h1><a href ="/morbus.html"><img src="사진/MORBUS.png"></a></h1>
<div>
    <fieldset th:id="square" style="width: 850px">
        <legend><b>현재 증상들을 선택하시오</b></legend>

        <form action="http://localhost:8080/selectSymptom" method ="post" name="searching" onsubmit="searchVal()">
            <button type ="submit" style="float :right">입력</button>
            <input type ="text" id ="search" name ="searchText" style ="float : right" placeholder="증상 입력">
        </form>

        <form action ="http://localhost:8080/RelateDisease"  method ="post" name ="symList">
            <div th:each ="SymLists : ${SymList}" style="display: inline-block">
                <input type ="checkbox" name ="Symptom"  th:id ="${SymLists.getName()}" th:value ="${SymLists.getName()} ">
                <label th:for ="${SymLists.getName()}" th:if="${SymLists.getName()}==${searchText}" th:text ="${SymLists.getName()}" style="color: crimson" class="highLight" ></label>
                <label th:for ="${SymLists.getName()}" th:if="${SymLists.getName()}!=${searchText}" th:text ="${SymLists.getName()}" class ="text"></label>
                <br><br>
            </div>
            <button type="submit">제출</button>
        </form>

    </fieldset>
</div>

</body>
</html>