<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>증상 선택 페이지</title>
    <meta name ="질병 찾기" content ="증상 선택"/>
    <meta property = "og:type" content = "article">
    <link rel="stylesheet" type="text/css" th:href="@{/css/symptomPageStyle.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <script src='/js/searchSymptomName.js'></script>
</head>
<body>
<header>
    <section id="sub">
        <ul>
            <li th:if="${member}!=null" th:text="${member}+'님 안녕하세요'"></li>
            <li th:if="${member}==null"><a href="signUp">회원가입</a></li>
            <li th:if="${member}==null"><a href="login">로그인</a></li>
        </ul>
    </section>
    <div style="border-bottom: #f0f0f0 solid 1px">
        <a href="morbus.html"><img src="/사진/morbus2.png" alt=""></a>
        <span class="lists">
            <a href="MedicineInfo">약 정보 찾기</a>
            <a href="Symptom_record">증상 기록지</a>
            <a href="Symptom">질병 자가진단</a>
        </span>
    </div>
</header>
<div>
    <br>
    <img src="/사진/광고배너%201.png" style="float: left; height: 500px; width: 200px; position: fixed; transform: translateX(-30px); z-index: -5;">
    <img src="/사진/침착맨짤3.jpg" style="float: right; height: 500px; width: 200px; position: fixed; transform: translateX(76vw); z-index: -5;">
    <fieldset th:id="square" style= "width: 850px">
        <legend><b>현재 증상들을 선택하시오</b></legend>

        <div class="input_box" style="transform:translateX(320%)">
            <form id="searchForm">
                <input type ="text" id ="search" placeholder="증상 입력">
                <button type ="submit">입력</button>
            </form>
        </div>
        <form action ="RelateDisease"  method ="post" name ="symList">
            <div th:each ="SymLists : ${SymList}" style="display: inline-block">
                <input type ="checkbox" name="Symptom" th:id ="${SymLists.getName()}" th:value ="${SymLists.getName()}">
                <label th:for ="${SymLists.getName()}" th:id ="${SymLists.getName()}+label" th:text ="${SymLists.getName()}" class ="text"></label>
            </div>
            <button type="submit" class="button">제출</button>
        </form>
    </fieldset>
</div>

</body>
</html>