<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/css/signUp.css">
</head>
<body>
<header>
    <div id="imageBox">
        <a href="morbus.html"><img src="사진/MORBUS.png" alt=""></a>
    </div>
    <div id="head">
        <div>회원가입</div>
    </div>

</header>
<div id="mainPage">
        <div style="text-align: center">
            <div class="signup">
                <div id="explain">
                    <h3>회원가입</h3>
                    <p>계정이 이미 있는 경우에는 <a href="/login">로그인</a> 해주세요<br>
                        가입을 하면 증상 기록지 등 추가 기능을 사용하실 수 있습니다.
                    </p>
                </div>
                <form action="signUp" method="post">
                    <div id="idBox">
                        <label for="password">비밀번호</label>
                        <input type="password" id="password" name="password">
                    </div>
                    <div style="text-align: right">
                        <button type="submit">회원가입</button>
                    </div>
                </form>
            </div>
        </div>

</div>

</body>
</html>