<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Symptom Record</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/recordPageStyle.css}"/>
    </head>
    <body style="background-color: #e4e4e4">

    <form name ="symptom_record_logo">
        <div><a href ="/morbus.html"><img src="사진\MORBUS.png"></a></div>
    </form>
    <form action="/Symptom_record" method="post">
        <div class="square">
            <div class="square2"></div>
            <div th:each="record : ${records}">
                [
                <span th:text ="${record.timestamp.getMonthValue()}+월"></span>
                <span th:text ="${record.timestamp.getDayOfMonth()}+일"></span>
                <span th:text="${record.timestamp.getHour()}"></span>
                :
                <span th:text="${record.timestamp.getMinute()}"></span>
                :
                <span th:text="${record.timestamp.getSecond()}"></span>
                ]
                <span th:text="${record.timestamp.getSecond()}"></span>
            </div>
            <div class="chat-input">
                <input type="text" name="message" placeholder="증상을 입력하세요...">
                <button type="submit">전송</button>
            </div>
        </div>
    </form>
    </body>
</html>