<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>증상 선택 페이지</title>
    <meta name ="질병 찾기" content ="증상 선택"/>
    <meta property = "og:type" content = "article">
</head>
<body>
<h1 th:text ="${data}"></h1>


<form action ="http://localhost:8080/" method ="get">
    <fieldset>
        <legend>현재 증상들을 선택하시오</legend>
<div th:each ="SymLists : ${SymList}">
    <input type ="checkbox" name ="Symptom" th:id ="${SymLists.get()}" th:value ="${SymLists.get()}">
    <label th:for ="${SymLists.get()}" th:text ="${SymLists.get()}"></label>
</div>
        <button type="submit">제출</button>
    </fieldset>


</form>

</body>
</html>