<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Symptom Record</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/recordPageStyle.css}"/>
    </head>
    <body style="background-color: #e4e4e4">

    <form name ="symptom_record_logo">
        <div><a href ="/morbus.html"><img src="사진\MORBUS.png"></a></div>
    </form>

        <div class="square">
            <div class="square2" id="square2"></div>
            <input type="text" class="chat-input" id="user-input" placeholder="증상을 입력하세요...">
        </div>
    <script>
        function sendMessage() {
            var userInput = document.getElementById("user-input");
            var message = userInput.value;

            if (message.trim() !== "") {
                var chatMessages = document.getElementById("square2");
                var chatMessage = document.createElement("div");

                var timeStamp = new Date().toLocaleTimeString('en-US',{
                    hour: '2-digit',
                    minute: '2-digit',
                    hour12: false
                });

                chatMessage.textContent = '[' + timeStamp + ']' + message;

                chatMessages.appendChild(chatMessage);

                userInput.value = "";

                chatMessages.scrollTop = chatMessages.scrollHeight;
            }
        }
        document.getElementById("user-input").addEventListener("keypress", function(event) {
            if (event.key === "Enter") {
                sendMessage();
            }
        });
    </script>
    </body>
</html>