* {
    border-radius: 0;
    box-sizing: border-box;
}

#head {
    font-size: 20px;
    margin: 5px 5px 5px 100px;
    background-color:#fefefe;
}

#head div{
    box-sizing: border-box;
    padding: 20px;
}

#imageBox
{
    border-bottom: 1px solid #f0f0f0;
}

img {
    width: 200px;
    height: 50px;
    margin: 5px 5px 5px 100px;
}

.login{
    box-sizing: border-box;
    border: 1px solid #DDD;
    width: 370px;
    height: 430px;
    margin: 0 auto;
    padding: 15px;
    box-shadow: 0 0 3px 3px #EEF;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.content {
    padding-top: 40px;
    padding-bottom: 40px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 750px;
    background: #fefefe;
}

#explain{
    border-bottom: 1px solid #EEE;
    text-align: center;
}

#explain > p > a {
    text-decoration: none;
    color: #05558d;
}

#explain > p >a:hover {
    text-decoration: underline;
    color: #05558d;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.reg-page {
    color: #555;
    padding: 30px;
    background: #fefefe;
    border: solid 1px #eee;
    box-shadow: 0 0 3px #eee;
}

#idBox{
    margin-top: 50px;
    text-align: left;
    margin-bottom: 30px;
}

#idBox label{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

#idBox input{
    width: 280px;
    height: 30px;
}

button{
    background: #0076C0;
    color: white;
    width: 64px;
    height:34px;
    text-align: center;
    transform: translateY(-40%);
}