html, body {margin: 0; padding: 0; height: 100%; }
body {background: white;}
pre {
    font-family: "Noto Sans KR", sans-serif;
}
div > a{
    text-decoration: none;
    color: inherit;
}
footer a {
    color: white;
}
header {
    width: 100%;
    height: 80px;
    background: lightgrey;
    position: fixed;
    top: 0;
    z-index: 10;
}
header .HTCon {
    width: 20%;
    height: 100%;
    float: left;
    background: white;
}
header #Hmain {
    width: 70%;
    height: 100%;
    float: left;
    background: #e4e4e4;
    font-size: 25px;
    text-align: center    ;
}
header .HCon {
    width: 5%;
    height: 100%;
    float: left;
    background: white;
}
header img {
    float: left;
    padding: 14px 16px;
    height: 70px;
    width: 220px;
}
header .navbar {
    width: 70%;
    height: 100%;
    float: left;
    overflow: hidden;
    background-color: white; /* 배경색 */
}
/* 상단 바 링크 스타일 */
header .navbar a {
    float: right;
    display: inline-block;
    color: black; /* 글자색 */
    text-align: center;
    margin-top: 15px;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 2px solid transparent; /* 투명한 밑줄 초기 설정 */
    transition: border-bottom-color 0.5s ease; /* 천천히 색상 변경 */
    padding-bottom: 8px;
}

/* 링크에 마우스를 올렸을 때 */
header .navbar a:hover {
    background-color: #fffff9;
    color: black;
    border-bottom-color: black;
}

header .logCon {
    float: right;
}

.loginButton{
    margin: 7px 7px 0 0;
    text-align: right;
}

.loginButton a{
    display: inline-block;
    font-size: 15px;
}

.loginButton a:hover{
    text-decoration: underline;
    color: #05558d;
}

.loginButton div{
    display: inline-block;
}
section {
    width: 100%;
    height: 70%;
    background: gray;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 1200;
    font-size: 30px;
    margin-top: 80px;

}
section .SLCon {
    float: left;
    height: 100%;
    width: 50%;
    background: white;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}
section .SRCon {
    float: right;
    height: 100%;
    width: 50%;
    background: white;
}

section .SRCon .PCon {
    margin:0;
    padding:0;
    float: left;
    height: 50%;
    width: 50%;
}
line {
    width: 100%;
    height: 1%;
    background: red;
}
connec {
    width: 100%;
    height: 22.5%;
    float: left;
    background: #e4e4e4;
}
footer {
    width: 100%;
    height: 20%;
    clear: both;
    background: #e4e4e4;
}
footer .FCon {
    width: 100%;
    height: 100%;
    text-align: left;
    background: #2E2E2E;
    color: #ffffff;
}
.side-bar{
    background-color: #e4e4e4;
    position: absolute;
    top:0;
    left: -260px;
    width: 300px;
    height: 100.5%;
    transition: left 1s, background-color 2s;
}
.side-bar:hover{
    left: 0;
    background-color:#2E2E2E;
    transition: left 2s, background-color 2s;
}
.side-bar>.icon>div{
    text-align:right;
    padding: 10px;
    color: black;
}
.side-bar:hover>.icon>div:last-child{
    display:block;
    color: white;
}
.side-bar:hover>.icon>div:first-child{
    display:none;
}
.side-bar>.icon>div:last-child{
    display:none;
}
.side-bar>.menu ul>li{
    position:relative;
    color: white;
}
.side-bar>.menu ul>li>a{
    display:block;
    font-weight:bold;
    padding:10px;
    white-space:nowrap;
    text-decoration: none;
    color: inherit;
}
.side-bar>.menu ul>li:hover>a{
    background-color:white;
    color:black;
    text-decoration: none;
}
.side-bar>.menu ul>li:hover>ul{
    display:block;
}
