html, body {margin: 0; padding: 0; height: 100%; }
body {background: darkgray;}
pre {
    font-family: "Noto Sans KR", sans-serif;
}
div > a{
    text-decoration: none;
    color: inherit;
}
footer a {
    color: white;
}
header {
    width: 100%;
    height: 20%;
    background: #e4e4e4;
}
header .HTCon {
    width: 100%;
    height: 50%;
    float: left;
    background: #e4e4e4;
}

.loginButton{
    margin: 5px 0;
    text-align: right;
}

.loginButton a{
    display: inline-block;
    font-size: 15px;
}

.loginButton div{
    display: inline-block;
}

header #Hmain {
    width: 70%;
    height: 100%;
    float: left;
    background: #e4e4e4;
    font-size: 25px;
    text-align: center    ;
}
header .HCon {
    width: 15%;
    height: 100%;
    float: left;
    background: #e4e4e4;
}
line {
    width: 100%;
    height: 1%;
    background: red;
}
section {
    width: 100%;
    height: 40%;
    background: lightslategrey;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
}
section .SMCon {
    width: 23.75%;
    height: 100%;
    float: left;
    background: #9bacbf;
    box-shadow: 0.5px 5px 5px #05558d;
    text-align: center;
    font-size: 40px;
    line-height: 190px;
}
section .SCon {
    width: 25%;
    height: 100%;
    float: left;
    background: #e4e4e4;

}
section .Sline {
    width: 2.5%;
    height: 100%;
    float: left;
    background: #e4e4e4;
}
section .HFCon {
    width: 100%;
    height: 20%;
    float: left;
    background: #e4e4e4;
}
connec {
    width: 100%;
    height: 22.5%;
    float: left;
    background: #e4e4e4;
}
footer {
    width: 100%;
    height: 20%;
    clear: both;
    background: #e4e4e4;
}
footer .FCon {
    width: 100%;
    height: 100%;
    text-align: left;
    background: #2E2E2E;
    color: #ffffff;
}
.side-bar{
    background-color: #e4e4e4;
    position: absolute;
    top:0;
    left: -260px;
    width: 300px;
    height: 100.5%;
    transition: left 1s, background-color 2s;
}
.side-bar:hover{
    left: 0;
    background-color:#2E2E2E;
    transition: left 2s, background-color 2s;
}
.side-bar>.icon>div{
    text-align:right;
    padding: 10px;
    color: black;
}
.side-bar:hover>.icon>div:last-child{
    display:block;
    color: white;
}
.side-bar:hover>.icon>div:first-child{
    display:none;
}
.side-bar>.icon>div:last-child{
    display:none;
}
.side-bar>.menu ul>li{
    position:relative;
    color: white;
}
.side-bar>.menu ul>li>a{
    display:block;
    font-weight:bold;
    padding:10px;
    white-space:nowrap;
    text-decoration: none;
    color: inherit;
}
.side-bar>.menu ul>li:hover>a{
    background-color:white;
    color:black;
    text-decoration: none;
}
.side-bar>.menu ul>li:hover>ul{
    display:block;
}
