img {
    width: 300px;
    height: 70px;
    display: block;
    margin: 0 auto;
}
.square {
    background-color: #ffffff;
    width: 1000px;
    height: 600px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
.chat-input {
    width: 950px;
    height: 30px;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-left: 20px;
}
.chat-input input[type="text"], .chat-input button {
    border: none; /* 테두리 제거 */
    outline: none; /* 포커스 시 나타나는 테두리 제거 */
    box-shadow: none; /* 그림자 제거 */
}
.chat-input {
    display: flex;
    align-items: center;
}
.chat-input input[type="text"] {
    flex: 1;
    padding: 10px; /* 적절한 패딩 추가 */
}
.square2 {
    width: 950px;
    height: 550px;
    display: block;
    margin: 0 auto;
    word-break:break-all;
    overflow-y: auto;
}