
.login {
    border: 1px solid #DDD;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    padding: 15px;
    box-shadow: 0 0 3px 3px #EEF;
}

#explain{
    border-bottom: 1px solid #EEE;
    text-align: center;
}

#explain > p > a {
    text-decoration: none;
    color: #05558d;
}

#explain > p >a:hover {
    text-decoration: underline;
    color: #05558d;
}

#idBox{
    margin-top: 50px;
    text-align: left;
    margin-bottom: 30px;
}

#idBox label{
    display: block;
    font-weight: bold;
}

#idBox input{
    width: 460px;
    height: 30px;
}

#imageBox{
    border-bottom: 3px solid #000000;
}

#head {
    height: 80px;
}

#head  div{
    font-size: 23px;
    font-weight: lighter;
    text-indent: 15px;
    padding: 20px 0 20px 0;
}

img {
    width: 300px;
    height: 70px;
    display: block;
    margin: 0 auto;
}

#mainPage {
    margin-top: 30px;
}
