#square {
    background-color: #ffffff;
    width: 1000px;
    height: fit-content;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
img {
    width: 300px;
    height: 70px;
    display: block;
    margin: 0 auto;
}

.text{
    width: 100px;
    height: 100px;
}

.highLight{
    width:150px;
    height: 150px;
    text-emphasis-color: crimson;
}

#search{
    font-size: medium;
    font-weight: bold;
    text-emphasis-color: crimson;
}