/**{*/
/*    box-sizing: border-box;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    font: inherit;*/
/*    vertical-align: baseline;*/
/*    border: 0;*/
/*}*/

header #sub {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
    position: relative;
}

header #sub ul {
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: end;
    width: 950px;
    margin: auto;
}

header #sub ul li{
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

header #sub ul li a {
    display: flex;
    padding: 10px;
    text-decoration: none;
    font-size: 14px;
    color: #5F5F5F;
}

.lists{
    float: right;
    display: inline-block;
    text-align: right;
    transform: translateY(130%) translateX(-85%);
}

.lists a{
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

.lists a:hover{
    text-decoration: underline;
    color: #05558d;
}


#square {
    background-color: #ffffff;
    width: 1000px;
    height: fit-content;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

img {
    width: 200px;
    height: 50px;
    margin: 5px 5px 5px 100px;
}

.text{
    width: 5px;
    height: 5px;
    font-weight: bold;
}


    .highLight {
        width: 200px;
        height: 200px;
        font-weight: bold;
        text-emphasis-color: crimson;
    }

    .input_box {
        height: 22px;
        width: 200px;
        border: 1px solid #1b5ac2;
        background: white;
        border-radius: 5px;
    }

    input {
        width: 70%;
        height: 100%;
        border: 0;
        outline: none;
        font-size: 15px;
    }

    button {
        height: 100%;
        width: 50px;
        border: 0;
        background: #1b5ac2;
        outline: none;
        color: white;
        font-size: 15px;
        border-radius: 5px;
    }

    input[type="checkbox"] {
        display: none;
    }

    #square input[type="checkbox"] + label {
        cursor: pointer;
        width: 370px;
        height: 30px;
        border: 1px solid black;
        position: relative;
        border-radius: 5px;
        text-align: center;
        vertical-align: center;
        display: block;
        margin: 15px;
    }

    #square input[type="checkbox"]:checked + label::after {
        content: '✔ ';
        width: 370px;
        height: 30px;
        position: absolute;
        border-radius: 5px;
        left: 0;
        top: 0;
        background-color: rgba(255, 0, 0, 0.2);
    }

    .button {
        color: black;
        background-color: rgba(0, 0, 200, 0.5);
        font-size: large;
        font-weight: bold;
        border-radius: 5px;
        width: 372px;
        height: 30px;
        transform: translateX(5%) translateY(25%);

    }

    .button:hover {
        transform: translateX(5%);
        background-color: rgba(255, 0, 0, 0.2);
        transition: 0.4s
    }

