#square {
    background-color: #ffffff;
    width: 1000px;
    height: fit-content;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
img {
    width: 300px;
    height: 70px;
    display: block;
    margin: 0 auto;
}

.text{
    width: 5px;
    height: 5px;
    font-weight: bold;
}

.highLight{
    width:200px;
    height: 200px;
    font-weight: bold;
    text-emphasis-color: crimson;
}

input[type="checkbox"]{
    display: none;
}


input[type="checkbox"]+label{
    display: inline-block;
    width: 150px;
    height:40px;
    border:2px solid black;
    position :relative;
    border-radius:15px;
    text-align: center;
}

input[type="checkbox"]:checked +label::after{
    content: '✔ ';
    font-size: 30px;
    width: 150px;
    height: 40px;
    text-align: center;
    position: absolute;
    border-radius:15px;
    left: 0;
    top:0;
    border-color: blue;
}